<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security"
             xmlns:beans="http://www.springframework.org/schema/beans"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:dubbo="http://dubbo.apache.org/schema/dubbo"
             xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans.xsd
http://www.springframework.org/schema/security
http://www.springframework.org/schema/security/spring-security.xsd http://dubbo.apache.org/schema/dubbo http://dubbo.apache.org/schema/dubbo/dubbo.xsd">

    <!--  引用 dubbo  服务  -->
    <dubbo:application name="pinyougou-shop-web" >
        <!--  不开启 qos ； qos 可通过指令动态调动提供的服务  -->
        <dubbo:parameter key="qos.enable" value="false"/>
    </dubbo:application>
    <dubbo:registry address="zookeeper://192.168.12.168:2181"/>
    <dubbo:annotation package="com.pinyougou.shop.service.impl" />


    <!--不需要使用角色权限就可以访问的资源-->
    <http pattern="/css/**" security="none"/>
    <http pattern="/img/**" security="none"/>
    <http pattern="/js/**" security="none"/>
    <http pattern="/plugins/**" security="none"/>
    <http pattern="/shoplogin.html" security="none"/>
    <http pattern="/register.html" security="none"/>
    <http pattern="/seller/add.do" security="none"/>

    <!--配置需要有角色权限才能访问的资源配置 use-expressions值为false的时候就不需要再写hasRole类似的表达式-->
    <http use-expressions="false">
        <!--拦截的资源及角色配置-->
        <!--<intercept-url pattern="/**" access="hasRole('ROLE_USER')"/>-->
        <intercept-url pattern="/**" access="ROLE_SELLER"/>

        <!--配置登录的表单-->
        <form-login login-page="/shoplogin.html" default-target-url="/admin/index.html"
                    authentication-failure-url="/shoplogin.html" always-use-default-target="true"/>

        <!--禁止跨站请求访问-->
        <csrf disabled="true"/>

        <!-- 如果使用了 iframe 等框架，希望跳转也是在框架内跳转的话 -->
        <headers>
            <frame-options policy="SAMEORIGIN"/>
        </headers>

        <!--开启退出-->
        <logout/>

    </http>

    <!--加密方式；不加密使用明文-->
    <beans:bean id="passwordEncoder" class="org.springframework.security.crypto.bcrypt.BCryptPasswordEncoder"/>

    <!--动态认证类-->
    <beans:bean id="userDetailService" class="com.pinyougou.shop.service.impl.UserDetailServiceImpl"/>

    <!--认证管理器-->
    <authentication-manager>
        <authentication-provider user-service-ref="userDetailService" >
            <password-encoder ref="passwordEncoder"/>
<!--
            <user-service>
                &lt;!&ndash;用户名、角色、密码&ndash;&gt;
                <user name="itcast" authorities="ROLE_SELLER" password="123456"/>
                <user name="admin" authorities="ROLE_SELLER" password="123456"/>
            </user-service>
-->
        </authentication-provider>
    </authentication-manager>
</beans:beans>